{
  // ...
  "env": {
    // ...
    "chai": true, // for test files
    "truffle/globals": true // same as "truffle/truffle": true
  },
  "plugins": [
    // ...
    "truffle"
    // ...
  ]
  // ...
}
